* {
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
}
button:hover path {
  fill: #fff;
}

input {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
ul {
  margin: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(8px);
}





.container-audio {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin: 0 auto;
  width: 500px;
  height: 600px;
  
  
  border-radius: 20px;
  overflow: hidden;
  /* background-size: 850px 500px;
  background-position: 75% 75%;
  background-repeat: no-repeat; */

  color: #aaa;
  padding: 20px;
}

[data-shadow = '0']{
  box-shadow: 0px 0px 100px rgb(113 60 60);
}

[data-shadow = '1']{
  box-shadow: 0px 0px 100px rgb(97, 97, 97);
}
[data-shadow= '2'] {
  box-shadow: 0px 0px 100px rgb(107 106 165);
}
[data-shadow= "3"] {
  box-shadow: 0px 0px 100px rgb(107 106 165);
}

.container-audio-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 500px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
}

.menu {
  display: flex;
  width: 70px;
  height: 70px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 385px;
}
.menu:hover path {
  fill: #fff;
}
.block-text {
  margin-top: 300px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.author-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.author-name:hover,
.song-name:hover {
  color: rgb(223, 223, 223);
}

.progress {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 10px;
}

.range {
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
  border-radius: 2px;
  background-color: #aaa;
  box-shadow: 0px 7px 20px rgb(129 129 129);
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #d4d4d4;
  box-shadow: 0px 10px 12px rgb(0, 0, 0);
}

.controls {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}



.btn:hover path {
  fill: white;
}



.path-repeat {
  fill: #aaa;
}

.path-random {
  fill: #aaa;
}


/* Modal */

.modal__playlist {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  /* display: none; */
  
}
.wrapper__modal {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  /* background-color: rgba(78, 78, 78, 0.7); */
  z-index: 2;
}

.modal__playlist__inside {
  position: absolute;
  z-index: 3;
  
  width: 500px;
  height: 605px;
  
}
.playlist{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 100px 20px 60px;
  width: 500px;
  height: 605px;
  backdrop-filter: blur(8px);
  /* backdrop-filter: sepia(90%); */
  background-color: rgba(78, 78, 78, 0.541);
  border-radius: 20px;
  color: #bbb9ad;
  font-size: 1.5em;
}

.song__item {
  padding: 10px;
  position: relative;
  z-index: 3;
  transition: .8s;
  cursor: pointer;
}

.song__item:hover {
  box-shadow: 0px 0px 100px rgb(115 106 106);
  border-radius: 20px;
}

.btn__close {
  position: absolute;
  right: 35px;
  top: 52px;
  z-index: 3;
}

.btn__close:hover  path {
 fill: #fff;
}

.none {
  display: none;
}